<div class="container my-5 px-4 login about-txt">
    <div class="card p-5">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <% if ( success.length> 0) { %>
                    <div class="alert alert-success alert-dismissible fade show position-relative" role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } else { %>
                        <div class="alert alert-danger alert-dismissible fade show position-relative" role="alert">
                            <%= failure %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <input type="text" class="form-control" id="username" name="username"
                                aria-describedby="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button><span class="px-2">Already signed up.
                <a href="/login">login</a></span>


        </form>
    </div>
</div>